annotated-doc==0.0.5
asgiref==3.12.1
click==8.4.2
colorama==0.4.6
Django==6.1
django-cotton==2.7.2
django-tailwind-cli==4.7.0
django-typer==3.8.0
markdown-it-py==4.2.0
mdurl==0.1.2
Pygments==2.21.0
python-dotenv==1.2.3
rich==15.0.0
semver==3.0.4
shellingham==1.5.4
sqlparse==0.6.0
typer==0.25.1
tzdata==2026.3
uv==0.12.5
